<div class="row">
  <div class="col-12">
    <span style="font-size: 28px;font-weight: bold">Register For Vaccine</span>
  </div>
</div>
<div class="row" style="display: flex;justify-content: center">
  <div class="col-md-8 col-sm-12">

    <div class="row" style="margin-top: 60px">
      <div class="col-md-4 col-sm-12">
        <span>First Name</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>Last Name</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>National Identity</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>Age</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="number" class="form-control">
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>Contact Number</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>Province</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <select class="form-control" (change)="getDistricts($event.target.value)">
          <option>Select Province</option>
          <option *ngFor="let province of provinces" [value]="province.provinceId">{{province.provinceName}} Province</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>District</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <select class="form-control" (change)="getSubDivisions($event.target.value)">
          <option>Select District</option>
          <option *ngFor="let district of districts" [value]="district.districtId">{{district.districtName}} District</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>Living Area</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <select class="form-control">
          <option>Select Living Area</option>
          <option *ngFor="let subDivision of subDivisions" [value]="subDivision.subDivisionId">{{subDivision.subDivisionName}}</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-4 col-sm-12">
        <span>Vaccine Expecting</span>
      </div>
      <div class="col-md-8 col-sm-12">
        <select class="form-control">
          <option>Select Vaccine</option>
          <option *ngFor="let vaccine of vaccines" [value]="vaccine.vaccineId">{{vaccine.vaccineName}}</option>
        </select>
      </div>
    </div>

  </div>
</div>
