<div style="">
  <div class="row" style="margin-top: 20px;min-width: 1100px">

    <div class="row">
      <div class="col-12">
        <button class="btn btn-success" [routerLink]="'/map'" style="font-weight: bold">Back</button>
      </div>
    </div>

  <div class="row" *ngIf="success===2">
    <div class="col-12">
      <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        <i class="fas fa-times-circle" style="font-size: 21px;margin-right: 20px"></i>
        <span style="font-size: 20px">You are not registered for {{subDivision.subDivisionName}} area to register vaccines.</span>
      </div>
    </div>
  </div>

    <div>
      <div style="margin-left: 50px;font-size: 30px;margin-top: 40px">
        Sub Division - {{subDivision!==undefined?subDivision.subDivisionName:'N/A'}}
      </div>
    </div>

    <div class="row" style="margin-top: 40px">
      <div class="col-1" style="text-align: right;">
        <div style="margin-top: 6px">Place</div>
      </div>
      <div class="col-3">
        <select class="form-control" (change)="setPlace($event.target.value)">
          <option value="">Select Place</option>
          <option *ngFor="let place of places" [value]="place.placeId">{{place.placeName}}</option>
        </select>
      </div>
      <div class="col-2">
        <!--<button class="btn btn-primary" style="font-weight: bold" [routerLink]="'/manage_places'" [disabled]="subDivision===undefined">Manage Places</button>-->
      </div>

      <!--<div class="col-2"></div>-->

      <div class="col-2" style="text-align: right;">
        <div style="margin-top: 6px">Vaccine</div>
      </div>
      <div class="col-2">
        <select class="form-control" (change)="vaccineToken.vaccine.vaccineId = $event.target.value">
          <option>Select Vaccine</option>
          <option *ngFor="let vaccine of vaccines" [value]="vaccine.vaccineId">{{vaccine.vaccineName}}</option>
        </select>
      </div>
      <div class="col-2">
        <!--<button class="btn btn-primary" style="font-weight: bold" [routerLink]="'/manage_vaccines'">Manage Vaccines</button>-->
      </div>
    </div>

    <div class="row" style="margin-top: 30px">
      <!--<div class="col-12">-->
      <!--<div style="display: flex;width: 100%;margin-top: 40px">-->
      <!--<div class="row" style="">-->
      <div class="col-1" style="text-align: right;">
        <div style="margin-top: 6px">Date</div>
      </div>
      <div class="col-3">
        <input type="date" class="form-control" style="width: 250px" [(ngModel)]="date">
      </div>

      <div class="col-2"></div>

      <div class="col-2" style="text-align: right;">
        <div style="margin-top: 6px">Vaccine Type</div>
      </div>
      <div class="col-3">
        <select class="form-control" (change)="setTokenType($event.target.value)" [ngModel]="vaccineToken.tokenType">
          <option value="1">First Vaccine</option>
          <option value="2">Second Vaccine</option>
        </select>
      </div>

      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-1" style="text-align: right;">
        <div style="margin-top: 6px">Time</div>
      </div>
      <div class="col-3">
        <input type="time" class="form-control" style="width: 150px" [(ngModel)]="time">
      </div>
      <div class="col-4" style="text-align: right;">
        <div style="margin-top: 6px">Age more than</div>
      </div>
      <div class="col-3" style="display: flex">
        <input type="number" class="form-control" min="1" value="10" #age>
        <button class="btn btn-warning" style="margin-left: 20px;font-weight: bold" (click)="getByAge(age.value)">
          Check
        </button>
      </div>
    </div>

    <div class="row" style="margin-top: 40px" *ngIf="place!==undefined && date!==undefined && time!==undefined">
      <div class="col-12" style="font-size: 18px;text-align: right">
        <div style="margin-top: 5px;">
       <span style="border: 2px solid #a36303;padding: 10px;border-radius: 10px">
           Add people to place <span style="font-weight: bold">{{place}}</span> on
           <span style="font-weight: bold">{{date}}</span> to <span style="font-weight: bold">{{setTime()}}</span> time slot
         </span>
        </div>
      </div>
    </div>

  </div>

  <!--<div class="row" style="margin-top: 20px;margin-bottom: 20px">-->
  <!--<div class="col-12" style="font-size: 18px;margin-left: 10px">-->
  <!--Add people to place <span style="font-weight: bold">Galle</span> on <span-->
  <!--style="font-weight: bold">2020-02-02</span> at <span style="font-weight: bold">1:30 PM</span>-->
  <!--</div>-->
  <!--</div>-->

  <div class="row" style="margin-bottom: 50px;margin-top: 50px">
    <div class="col-12" style="font-size: 22px;margin-bottom: 20px">- {{vaccineToken.tokenType==1?'First':'Second'}}
      Vaccine -
    </div>
    <div class="col-12">
      <table style="width: 100%">
        <thead>
        <tr style="border-bottom: 1px solid black">
          <th style="text-align: left">
            Name
          </th>
          <th style="width: 10%">
            NIC
          </th>
          <th style="width: 10%">
            Contact Number
          </th>
          <th style="width: 15%">
            Vaccine
          </th>
          <th style="width: 20%">Place</th>
          <th style="width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom: 1px solid black" *ngFor="let patient of patients, let i = index">
          <td style="text-align: left">{{patient.firstName + ' ' + patient.lastName}}</td>
          <td>{{patient.patientId}}</td>
          <td>{{patient.contactNumber}}</td>
          <td>{{!patient.registered ? patient.vaccineExpecting.vaccineName + ' (Expecting)' :
            patient.vaccine.vaccineName}}
          </td>
          <td>{{!patient.registered ? 'N/A' : patient.place.placeName}}</td>
          <td *ngIf="!patient.registered">
            <button class="btn btn-warning" [disabled]="!(place!==undefined && date!==undefined && time!==undefined)"
                    style="padding-top: 2px;padding-bottom: 2px;font-weight: bold;margin-top: 5px;margin-bottom: 5px"
                    (click)="addVaccineToken(patient,i)">
              Add
            </button>
          </td>
          <td *ngIf="patient.registered">
            <button class="btn btn-danger"
                    style="padding-top: 2px;padding-bottom: 2px;font-weight: bold;margin-top: 5px;margin-bottom: 5px"
                    (click)="removeVaccineToken(patient,i)">
              Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="patients.length===0"
           style="text-align: center;font-weight: bold;margin-top: 10px;color: red;font-size: 20px">
        No patients found
      </div>
    </div>
  </div>

  <!--=================================================================================================================-->

  <div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'" style="">
    <div (click)="isTrueOrFalse(false)"></div>
    <div style="overflow-x: scroll">
      <div style="max-height: calc(100vh - 100px);overflow-y: scroll;min-width: 900px;margin-top: 50px">
        <div style="margin-right: 10px">
          <i class="fas fa-times" style="cursor: pointer" (click)="isTrueOrFalse(false)"></i>
        </div>

        <div>
          <div>
            <span style="font-weight: bold">Place</span> Galle
          </div>
          <div style="margin-top: 20px">
            <select class="form-control">
              <option>Pfizer</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
