#slmap {
  cursor: pointer;
}

#slmap path:hover {
  fill: #4caf50 !important;
}

th {
  text-align: center;
  font-size: 14px;
}

td{
  font-size: 14px;
}

td {
  text-align: center;
}

svg{
  transform: scale(0.75);
}
