<div class="row" style="margin-top: 20px">
  <div class="col-12">
    <button class="btn btn-success" [routerLink]="'/officers'" style="font-weight: bold">Back</button>
  </div>
</div>

<div>
  <div style="margin-left: 50px;font-size: 30px;margin-top: 40px">
    Manage Officers
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-12" style="">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <span style="font-weight: bold">Officer NIC</span>
            <input type="text" class="form-control" [(ngModel)]="officerObj.officerId" [disabled]="!isAdding">
          </div>
          <div class="col-12" style="margin-top: 20px">
            <span style="font-weight: bold">First Name</span>
            <input type="text" class="form-control" [(ngModel)]="officerObj.firstName">
          </div>
          <div class="col-12" style="margin-top: 20px">
            <span style="font-weight: bold">Last Name</span>
            <input type="text" class="form-control" [(ngModel)]="officerObj.lastName">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12" style="margin-top: 0px;text-align: center">
            <button class="btn btn-success" style="font-weight: bold" (click)="newOfficer()">New Officer</button>
          </div>
          <div class="col-12" style="margin-top: 30px;text-align: center">
            <button class="btn btn-warning" style="font-weight: bold"
                    [disabled]="(officerObj.officerId==='' || officerObj.firstName==='' || officerObj.lastName==='') || !isAdding" (click)="addOfficer()">Add
              Officer
            </button>
          </div>
          <div class="col-12" style="margin-top: 30px;text-align: center">
            <button class="btn btn-warning" style="font-weight: bold" [disabled]="isAdding"
                    (click)="updateOfficer()">Update Officer
            </button>
          </div>
          <div class="col-12" style="margin-top: 30px;text-align: center">
            <button class="btn btn-danger" style="font-weight: bold" [disabled]="isAdding"
                    (click)="removeOfficer()">Remove Officer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12" style="margin-top: 30px">
    <table style="width: 100%">
      <thead>
      <tr style="border-bottom: 1px solid black">
        <th style="text-align: left">
          Officer NIC
        </th>
        <th>
          Officer Name
        </th>
      </tr>
      </thead>
      <tbody>
      <tr style="border-bottom: 1px solid black" *ngFor="let officer of officers, let i = index"
          (click)="setOfficer(officer);tblIndex=i">
        <td>{{officer.officerId}}</td>
        <td>{{officer.firstName + ' ' + officer.lastName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="col-1"></div>-->

</div>
