<div class="row" style="margin-top: 20px">
  <div class="col-12">
    <button class="btn btn-success" [routerLink]="'/token'" style="font-weight: bold">Back</button>
  </div>
</div>

<div>
  <div style="margin-left: 50px;font-size: 30px;margin-top: 40px">
    Manage Vaccines
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-6">
    <table style="width: 100%">
      <thead>
      <tr style="border-bottom: 1px solid black">
        <th style="text-align: left">
          Vaccine ID
        </th>
        <th>
          Vaccine Name
        </th>
      </tr>
      </thead>
      <tbody>
      <tr style="border-bottom: 1px solid black" *ngFor="let vaccine of vaccines, let i = index"
          (click)="setVaccine(vaccine);tblIndex=i">
        <td>{{vaccine.vaccineId}}</td>
        <td>{{vaccine.vaccineName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="col-1"></div>-->
  <div class="col-6" style="border-left: 1px solid #c9c9c9">
    <div class="row">
      <div class="col-12">
        <span>Vaccine ID</span>
        <input type="text" class="form-control" disabled [value]="vaccineObj.vaccineId">
      </div>
      <div class="col-12" style="margin-top: 20px">
        <span>Vaccine Name</span>
        <input type="text" class="form-control" [(ngModel)]="vaccineObj.vaccineName">
      </div>
      <div class="col-12" style="margin-top: 30px;text-align: center">
        <button class="btn btn-success" style="font-weight: bold" (click)="newVaccine()">New Vaccine</button>
      </div>
      <div class="col-12" style="margin-top: 30px;text-align: center">
        <button class="btn btn-warning" style="font-weight: bold"
                [disabled]="vaccineObj.vaccineId!=='N/A' || vaccineObj.vaccineName===''" (click)="addVaccine()">Add
          Vaccine
        </button>
      </div>
      <div class="col-12" style="margin-top: 30px;text-align: center">
        <button class="btn btn-warning" style="font-weight: bold" [disabled]="vaccineObj.vaccineId==='N/A'"
                (click)="updateVaccine()">Update Vaccine
        </button>
      </div>
      <div class="col-12" style="margin-top: 30px;text-align: center">
        <button class="btn btn-danger" style="font-weight: bold" [disabled]="vaccineObj.vaccineId==='N/A'"
                (click)="removeVaccine()">Remove Vaccine
        </button>
      </div>
    </div>
  </div>
</div>
