<div class="row" style="margin-top: 20px">
  <div class="col-12">
    <button class="btn btn-success" [routerLink]="'/token'" style="font-weight: bold">Back</button>
  </div>
</div>

<div>
  <div style="margin-left: 50px;font-size: 30px;margin-top: 40px">
    Manage Vaccines
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-6">
    <table style="width: 100%">
      <thead>
      <tr style="border-bottom: 1px solid black">
        <th style="text-align: left">
          Vaccine ID
        </th>
        <th>
          Vaccine Name
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <div class="row">
      <div class="col-12">
        <span>Vaccine ID</span>
        <input type="text" class="form-control" disabled>
      </div>
      <div class="col-12" style="margin-top: 20px">
        <span>Vaccine Name</span>
        <input type="text" class="form-control">
      </div>
      <div class="col-12" style="margin-top: 30px">
        <button class="btn btn-warning" style="font-weight: bold;margin-right: 20px">Add Vaccine</button>
        <button class="btn btn-warning" style="font-weight: bold;margin-right: 20px">Update Vaccine</button>
        <button class="btn btn-danger" style="font-weight: bold">Remove Vaccine</button>
      </div>
    </div>
  </div>
</div>
